*{
    margin:0;
    padding:0
}body{
    height:2222px
}a{
    text-decoration:none
}
.own{
    width:50%;
    color:white;
    background-color:#666;
    margin:192px auto;
    text-align:center;
    padding:20px;
    font-size:22px;
    height:230px;
    background-image:url(../img/9.PNG);
    background-repeat:no-repeat;
    border:1px solid red;
    background-attachment:fixed;
    position:right;
}.own p{
    color:red;
    background:#cccccc8c;
    letter-spacing:2px;
    direction:ltr;
    line-height:47px;
    text-align:center;
}.pargraph p{
    word-spacing:20px;
    text-transform:capitalize;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px
}p:active{
    color:red
}p:hover{
    color:blue
}ul{
    list-style-type:none;
    margin:22px auto;
    text-align:center

}ul li{
    display:inline-block;
    border:1px solid #ccc;
    border-top:2px solid #cdc;
    padding:10px
}.position{
    position:fixed;
    background-color:blue;
    width:20px;
    top:100px;
    left:100px;
    padding:10px;
    border-radius:5px
/*
position: reletive absolute;
*/
}.float{
    float:right;
    background-color:blue;
    width:30px;
    top:100px;
    border-radius:5px;
    margin:10px;
    padding:10px;
    text-align:center;

/*
clear:both
*/
}h1{
    
    background-color:blue;
    width:130px;
    margin:10px;
    float:left;
    padding:10px;

}h1.first{
    visibility:hidden

    /*
    display:none;
    visibility:hidden
    */
}.content::after{
    content:"hhhhhhh";
    color:red;
    padding:10px;
    background-color:blue;
    width:130px;
    margin:10px;
    cursor:move;
}
/* ################### */
p::first-letter{
    font-size:52px;
    font-weight:bold;
    color:red
}p::first-line{
    color:royalblue
}
/*
    :first-child
    :first-letter
    ::first-line
    :before
    :after
*/